html[lang=zh]{
    font-family: SimSun, SimHei;
}

html[lang=ja]{
    font-family: "MS MINCHO", "MS GOTHIC";
}

html[lang=zh] h1,
html[lang=zh] h2,
html[lang=zh] h3,
html[lang=zh] h4,
html[lang=zh] h5,
html[lang=zh] h6{
    font-family: SimHei, SimSun;
}

.code{
    font-family: 'Courier New', Courier, monospace;
}

body{
    font-size: 20px;
    /* background-color: burlywood; */
    background-color: blanchedalmond;
}

div.code,
body>*,
body>*>*{
    /* word-break: break-all; */
    word-break:initial
}

.pre-wrap{
    white-space: pre-wrap;
}

@Media (max-width:512px){
    body{
        /* font-size: 16px; */
    }
}

@Media (max-width:1024px){
    body{
        word-break: break-all;
    }
}

@Media (min-width:512px){
    body{
        /* font-size: 4vw; */
    }
}

@Media (min-width:768px){
    body{
        /* font-size: 2.5vw; */
    }
    .grid>*>br{
        display: none !important;
    }
}

@Media (min-width:1280px){
    body{
        /* font-size: 1.5vw; */
    }
}

table, td, th{
    border-collapse: collapse;
    border: 1px solid blue;
}

table{
    min-width:100%;
}

dnone,
[dnone],
body>del,
body>main>del,
.d-none{
    display: none !important;
}

div.code{
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 255, 0, 0.2);
    padding: 0 8px;
    /* font-weight: bold; */
}

body>*,
body>blockquote>*,
body>main>*{
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

.col2,
.col3,
.col4,
.col5,
.col6,
.grid{
    width: 100%;
    display: grid;
    align-items: stretch;
    grid-template-rows: repeat(100, max-content);
}

.col2>*,
.col3>*,
.col4>*,
.col5>*,
.col6>*,
.grid>*{
    border-bottom: 1px solid green;
    border-right: 1px solid green;
    margin: 0;
    padding: 1px 6px;
}

.col2{
    grid-template-columns: max-content 1fr;
}

.col3{
    grid-template-columns: max-content max-content 1fr;
}

.col4{
    grid-template-columns: max-content max-content max-content 1fr;
}

.col5{
    grid-template-columns: max-content max-content max-content max-content 1fr;
}

.col6{
    grid-template-columns: max-content max-content max-content max-content max-content 1fr;
}

.pre-wrap{
    white-space: pre-wrap;
}

body>*:has(.no:first-child){
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    /* grid-template-columns: 6em 1fr; */
}

.border0>*{
    border: none !important;
}

ul[👉]{
    list-style-type: "👉 ";
}

li{
    margin-bottom: 0.35em;
}

ul.kome{
    list-style-type: "※ ";
}

div.table{
    overflow-y: auto;
}

div.table>table{
    min-width: 1440px;
}

ul{
    list-style-type: '● ';
}

ul ul{
    list-style-type: '〇 ';
}

ul[kome],
li[kome]{
    list-style-type: '※ ';
}

ul[kome]>li:first-child{
    list-style-type: '※ ';
    font-weight: bolder;
}

ul[kome]>li:not(:first-child){
    list-style-type: none;
}

ul[pen],
li[pen]{
    list-style-type: '🖋 ';
}

ul[star],
li[star]{
    list-style-type: '★ ';
}

ul[candle],
li[candle]{
    list-style-type: '🕯 ';
}

ul[check],
li[check]{
    list-style-type: '✔ ';
}

ul[coffee],
li[coffee]{
    list-style-type: '☕ ';
}

ul[none],
li[none]{
    list-style-type: '';
}

ul[earth],
li[earth]{
    list-style-type: '🌎 ';
}

video{
    width: 100%;
}

img{
    width: 100%;
}

.pic-nav > *{
    background-color: aliceblue;
}

.pic-nav a{
    text-decoration: none;
    background-size: contain;
}

ul[bracketNumber]>li:nth-child(1){
    list-style-type: "(1) ";
}

ul[bracketNumber]>li:nth-child(2){
    list-style-type: "(2) ";
}

ul[bracketNumber]>li:nth-child(3){
    list-style-type: "(3) ";
}

ul[bracketNumber]>li:nth-child(4){
    list-style-type: "(4) ";
}

ul[bracketNumber]>li:nth-child(5){
    list-style-type: "(5) ";
}

ul[bracketNumber]>li:nth-child(6){
    list-style-type: "(6) ";
}

ul[bracketNumber]>li:nth-child(7){
    list-style-type: "(7) ";
}

ul[bracketNumber]>li:nth-child(8){
    list-style-type: "(8) ";
}

ul[bracketNumber]>li:nth-child(9){
    list-style-type: "(9) ";
}

ul[bracketNumber]>li:nth-child(10){
    list-style-type: "(10) ";
}

[breakall]{
    word-break: break-all !important;
}